html {
  scroll-behavior: smooth;
}

#sidenav-open {
  visibility: hidden;
  transform: translateX(-110vw);
  will-change: transform;
  transition: transform 0.3s ease, visibility 0s linear 0.3s;
}

#sidenav-open:target {
  visibility: visible;
  transform: translateX(0);
  transition: transform 0.3s, 0.3s;
}

.freebirdFormviewerViewEmbedded .freebirdFormviewerViewCenteredContent{
    margin: 0!important;
}

.freebirdFormviewerViewCenteredContent{
    width: 100%!important;
}
